<h2>Soal 1: Comparison Operator</h2>

- Berikan contoh comparison dari tipe data string
- Berikan contoh comparison dari tipe data boolean
- Berikan contoh comparison dari tipe data integer

In [5]:
z=2
w=3
a="Jangan Tanya"
b="Jangan Kasih"
c="Jangan Tanya"
d= 5+6 > 7
e=2+1 < 3

#sting
print(a == c)

#boolean

print(d == e)

#integer
print(z>w)

True
False
False

<h2>Soal 2: Boolean Comparison</h2>

- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'and'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'or'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'not'

In [13]:
#and
print ("and:",(2*2 > 3) and (4 < 2/3))

#or
print ("or:",(2*4 > 3) or (1 < 4/3))

#not
print ("not:", not(3>2*8))

and: False
or: True
not: True

<h2>Soal 3: If-Else Statement</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

- Bualah sebuah if-else statement yang dimana akan mem-print 'Besar' jika ruangan adalah 'Kamar' dan ukuran lebih dari 12, kemudian mem-print 'Sedang' jika ruangan adalah 'Kamar' dan ukuran lebih dari 6 dan memprint 'Kecil' jika ruangan adalah 'Kamar' dan ukuran ruangan lebih kecil dan sama dengan 6.

In [27]:
ruangan = 'Kamar'
size = 20

if size > 12 and ruangan == "Kamar":
    print('Besar')
elif size > 6 and ruangan == "Kamar":
    print('Sedang')
elif size <= 6 and ruangan == "Kamar":
    print('Kecil')

Besar

<h2>Soal 4: Comparison Operator dengan fungsi</h2>

Buatlah sebuah fungsi yang menerima satu argument bertipe data numeric dan menghasilkan sebuah return sebagai berikut :
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan ganjil
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 2 sampai 5 (2 dan 5 termasuk)
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 6 sampai 20 (6 dan 20 termasuk)
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan lebih besari dari 20

In [37]:
# Buat fungsi
def angka(x):
    if x%2!=0:
        return ('Aneh')
    elif x%2==0 and 2>=x<=5:
        return ('Tidak Aneh')
    elif x%2==0 and 6>=x<=20:
        return ('Aneh')
    elif x%2==0 and x>20:
        return ('Tidak Aneh')
    
print(angka(4))

Aneh

<h2>Soal 5: While Loop dan For Loop</h2>

- Apa perbedaan while loop dan for loop?
While Loop = Digunakan saat user sudah tidak mengetahui jumlah iterasi yang tepat untuk digunakan (perlu ditambahkan parameter stop untuk setiap process)
For Loop = Digunakan saat user dapat mengetahui jumlah iterasi yg digunakan (sudah otomatis mendeteksi keseluruhan data yg terdapat dalam class)
- Berikan contoh sederhana cara menggunakan while loop dan for loop

In [42]:
# Tulis Kode

# for Loop
kecamatan=["Jatisampurna","Pondok Melati","Jati Karya", "Jatiasih"]

for subkecamatan in kecamatan:
    print(subkecamatan)
    
#while loop

bilangan=2
while bilangan < 5:
    print('Ini bilangan ke-',bilangan)
    bilangan += 2

Jatisampurna
Pondok Melati
Jati Karya
Jatiasih
Ini bilangan ke- 2
Ini bilangan ke- 4

<h2>Soal 6: While Loop</h2>
    
Buatlah sebuah code while loop sebagai berikut :
- Buatlah suatu fungsi yang merima satu input nilai numeric
- Dalam fungsi, Buat sebuah while-loop dengan melakukan comparasi terhadap inputan tersebut, dimana looping/iterasi terus berjalan apabila nilai inputan tidak sama dengan 0
- Dalam setiap iterasi update nilai variable inputan itu, jika input lebih dari 0, maka kurangi variabel tersebut sebesar 1, selain itu tambahkan 1
- print nilai variable input dalam setiap awal iterasi

In [44]:
a = 10

def fungsi_while(a):
    while a > 0:
        print(a)
        a -= 1

fungsi_while(a)

10
9
8
7
6
5
4
3
2
1

Expected Output:

10

9

8

7

6

5

4

3

2

1

<h2>Soal 7: For Loop</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan:

- Buatlah sebuah loop dengan mengiterasi sebuah objek list kemudian di kalikan dengan index dari list tersebut dan print hasilnya

In [48]:
obj_list= [1, 16, 11, 10, 5]
kali=[0, 1, 2, 3, 4]
hasil=[]

# lengkapi code di bawah
for sub1, sub2 in zip(obj_list, kali):
    hasil.append(sub1*sub2)
    
print(hasil)

[0, 16, 22, 30, 20]

Expected Output:

0

16

22

30

20